@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Manrope:wght@300;400;600;800&display=swap');

// COLOURS
$black: #181817;
$white: #F3EED3;
$yellow: #DBC043;
$brown: #522100;

// HEADINGS STYLING
h1{
  font-family: 'Cormorant Garamond', serif;
  font-size: 96px;
}

h2, h3, h4, h5, h6, p {
  font-family: 'Manrope', sans-serif;
  color: $black;
}

h2 {
  font-size: 40px;
  font-weight: 800;
}

h3 {
  font-size: 32px;
  font-weight: 800;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  font-weight: 300;
}

p {
  font-size: 14px;
  font-weight: 400;

}

.dropdown {
  max-width: 200px;
}