@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Manrope:wght@300;400;600;800&display=swap');

// Mixins
@mixin modalPosition {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: none;
}

@mixin login-register {
  padding: 10px;
  width: 65vw;
  height: auto;
  background-color: $yellow;
  color: $black;
}

@mixin ctaBtn {
  color: $brown;
  background-color: $white;
  border-radius: 10px;
  width: 100px;
}

@mixin buyBtn {
  color: $brown;
  background-color: $yellow;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
}

@mixin loginBtn {
  color: $white;
  background-color: none;
  border: none;
  font-size: 24px;
  font-weight: 600;
}

@mixin submitBtn {
  color: $brown;
  background-color: none;
  border: none;
  font-size: 24px;
  font-weight: 600;
}



// COLOURS
$black: #181817;
$white: #F3EED3;
$yellow: #DBC043;
$brown: #522100;

// HEADINGS STYLING
h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 96px;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Manrope', sans-serif;
  color: $black;
}

h2 {
  font-size: 40px;
  font-weight: 800;
}

h3 {
  font-size: 32px;
  font-weight: 800;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  font-weight: 300;
}

p {
  font-size: 12px;
  font-weight: 400;
  text-justify: left;
}

.dropdown {
  max-width: 200px;
}

#logout {
  display: none;
}

// #account-details {
//   display: none;
// }

// Tab Start
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: $white;
  overflow: scroll;
  height: 100vh;
}

#result {
  overflow-y: scroll;
  height: 76vh;
}

.left-side {
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: static;
}

.right-side {
  background-color: $white;
  height: 100vh;
  overflow: scroll;
  padding-left: 0;
  padding-right: 0;
}

nav,
.content {
  min-width: 600px;
}

.content {
  display: block;
  margin-bottom: 1em;
  padding: 1em 1em;
  border-color: $black;
  border-radius: .20em;
  color: $black;

  h2 {
    padding: 10px
  }
}

nav {
  a {
    font-size: 20px;
    font-weight: 400;
  }

  position: relative;
  z-index: 1;
  border-bottom: solid 1px $brown;

  &>a {
    position: relative;
    width: 150px;
    height: 50px;
    display: inline-block;
    padding: 10px 45px;
    color: $white;
    text-decoration: none;
    margin-right: 30px;
  }

  &>a::before {
    border: 1px solid $brown;
  }

  a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: .7em .8em 0 0;
    background: $yellow;
    transform: scale(1.2, 1.3) perspective(.4em) rotateX(3deg);
  }
}

nav a.active {
  z-index: 2;

  &::before {
    background-color: $brown;
    color: $white;
  }
}

.tab-right {
  nav {
    padding-left: 30px;
  }

  nav a::before {
    transform-origin: bottom right;
  }
}

.tab-left {
  nav a::before {
    transform-origin: bottom left;
  }
}

.tab-left-right {
  nav a::before {
    transform-origin: bottom;
  }
}

.tabs-btn {
  display: flex;
}

.add-toggle-btn {
  position: absolute;
  text-decoration: none;
  text-align: center;
  color: $brown;
  background-color: $yellow;
  position: absolute;
  top: 2px;
  right: -12px;
  padding: 15px 15px 10.5px 15px;
  font-size: 15px;
  z-index: 99;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#addBody {
  height: auto;
  background-color: $yellow;
  color: $black;
  margin: 0;
  padding: 25px 25px 65px;
  border-radius: 0px;
  margin-bottom: -50px;

  .col-4 {
    border: solid 1px $black;
    border-radius: 5px;
    padding: 10px;
    margin-right: 15px;
  }

  .col-3 {
    border: solid 1px $black;
    border-radius: 5px;
    padding: 10px;
  }

  form label {
    font-size: 20px;
    font-weight: 200;
  }

  form input {
    font-size: 16px;
    font-weight: 200;
    border: none;
    border-bottom: solid 1px $black;
    background: none;
    border-radius: 0;
  }

  .form-select {
    border-bottom: solid 1px $black;
    border-radius: 0;
    margin: 30px 0;
  }

  .btn {
    @include ctaBtn;
    border: 0;
    margin-top: 15px;
    width: auto;
  }
}

//logo

.logo-image {
  width: 400px;
  padding: 10px;
  margin: auto;
}

.personal-buttons {
  justify-content: space-between;
  padding: 2.5rem;

  & button {
    color: $white;
  }
}

// card adjustments
.listing,
.card {
  height: 450px;
  background-color: transparent;
  border: none;
  max-width: 300px;
}

.card-body {
  padding: 5px;
  height: 100px;
}

.btn {
  margin: 0;
}

// search / filter adjustments
.dropdown {
  width: 300px;
  margin-right: 20px;
  padding: 6px 12px;
  padding-top: 10px;
}

.form-select {
  font-size: 16px;
  font-weight: 200;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $black;
}

#searchInput {
  font-size: 16px;
  font-weight: 200;
  background-color: transparent;
  border: none;
  width: 25rem;
  border-bottom: 1px solid $black;
  border-radius: 0;
}

.fa-magnifying-glass {
  font-size: 20px;
  padding: 10px
}

//single listing adjustments
.price-and-buy {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;

  & button {
    @include buyBtn;
    width: 100px;
  }
}

#details {
  text-align: left;
}

.comments-container {
  min-height: 100px;
}

#viewComments {
  height: 50px;
  text-align: left;
  background-color: #F3EED3;
}

#collapseOne {
  background-color: #F3EED3;
}

.new-comment {
  text-align: left;
  position: relative;
}

.new-comment::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid $yellow;
  width: 75%;
}

//clock styles

.clock-container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 25px;
}

.clock {
  width: 400px;
  height: 400px;

  /* neumorphic boxshadow */
  box-shadow: 5px 5px 20px #43497c,
    -5px -5px 20px #555c9c;

  /* make clock a circle */
  border-radius: 50%;
  border: 5px solid #F3EED3;

  /* position relative to allow us to position absolute the numbers and hands */
  position: relative;

}

.clock .number {
  /*  setting our rotation variable to 0 as initial default state*/
  --rotation: 0;
  /* postion absolute to allow us to place numbers in the correct position */
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  /* will allow us to place all the numbers at the 12 o'clock spot */
  transform: rotate(var(--rotation));
}

/* positioning the numbers */
.clock .number1 {
  --rotation: 30deg;
}

.clock .number2 {
  --rotation: 60deg;
}

.clock .number3 {
  --rotation: 90deg;
}

.clock .number4 {
  --rotation: 120deg;
}

.clock .number5 {
  --rotation: 150deg;
}

.clock .number6 {
  --rotation: 180deg;
}

.clock .number7 {
  --rotation: 210deg;
}

.clock .number8 {
  --rotation: 240deg;
}

.clock .number9 {
  --rotation: 270deg;
}

.clock .number10 {
  --rotation: 300deg;
}

.clock .number11 {
  --rotation: 330deg;
}


.clock .hand {
  /* set rotation to default/initial state  */
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  /* curve on the top of the hands */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* transforms the origin to state where to start the rotation from - default is center of div */
  transform-origin: bottom;
  /* z index on the hands to allow us to see the hands on top of other objects */
  z-index: 500;
  /* translate x moves the hand back to the left of half its width, thus centering it */
  /* rotate calc used to turn it into the correct degrees of rotation */
  transform: translateX(-50%)rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: '';
  position: absolute;
  background-color: $yellow;
  z-index: 511;
  height: 15px;
  width: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* second hand */
.clock .hand.seconds {
  width: 5px;
  height: 45%;
  background-color: #F3EED3;
}

/* minute hand */
.clock .hand.minutes {
  width: 7px;
  height: 40%;
  background-color: #F3EED3;
}

/* hour hand */
.clock .hand.hours {
  width: 10px;
  height: 35%;
  background-color: $white;
}

#loginModal .modal-dialog {
  @include modalPosition;

  .modal-content {
    @include login-register;

    .modal-header {
      border-bottom: none;
    }

    .col-7 {
      border: solid 1px $black;
      border-radius: 5px;
      padding: 10px;
      margin-right: 50px;

      form label {
        font-size: 20px;
        font-weight: 200;
      }

      form input {
        font-size: 16px;
        font-weight: 200;
        border: none;
        border-bottom: solid 1px $black;
        border-radius: 0;
        background: none;
        width: 98%;
      }

      #login-submit {
        @include ctaBtn;
        margin-top: 10px;
      }

    }

    .col-4 {
      border: solid 1px $black;
      border-radius: 5px;
      padding: 10px;

      .btn {
        @include ctaBtn;
      }
    }

  }
}

#registerModal .modal-dialog {
  @include modalPosition;

  .modal-content {
    @include login-register;
    display: flex;

    .modal-header {
      border-bottom: none;
    }

    #registerForm {
      border: solid 1px $black;
      border-radius: 5px;
      padding: 10px;
    }

    form label {
      font-size: 20px;
      font-weight: 200;
    }

    form input {
      font-size: 16px;
      font-weight: 200;
      border: none;
      border-bottom: solid 1px $black;
      border-radius: 0;
      background: none;
    }

    .btn {
      @include ctaBtn;
      margin-top: 10px;
    }

  }
}

#accountModal .modal-dialog {
  @include modalPosition;

  .modal-content {
    @include login-register;

    p,
    h6 {
      font-size: 14px;
      font-weight: 400;
    }

    .modal-header {
      border-bottom: none;
    }

    .col-7 {
      border: solid 1px $black;
      border-radius: 5px;
      padding: 10px;
      margin-right: 50px;
    }

    .col-4 {
      border: solid 1px $black;
      border-radius: 5px;
      padding: 10px;

      .editCurrentListing {
        p {
          margin-bottom: 0;
        }
      }

      .btn {
        @include buyBtn;
        font-size: 16px;
        border: none;
        padding: 5px;
      }
    }

  }
}

#editModal .modal-dialog {
  @include modalPosition;

  .modal-content {
    @include login-register;

    .modal-header {
      border-bottom: 0;
    }

    .col-6 {
      border: solid 1px $black;
      border-radius: 5px;
      padding: 10px;
      margin-right: 50px;
      margin-bottom: 10px;
    }

    .col-5 {
      border: solid 1px $black;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
    }

    form label {
      font-size: 20px;
      font-weight: 200;
    }

    form input {
      font-size: 16px;
      font-weight: 200;
      border: none;
      border-bottom: solid 1px $black;
      background: none;
      border-radius: 0;
    }

    .form-select {
      border-bottom: solid 1px $black;
      border-radius: 0;
      margin: 30px 0;
    }

    .btn {
      @include ctaBtn;
      margin-top: 20px;
      border: 0;
      width: 150px;
    }

  }
}

/* footer style */
#footer {
  border: 1px solid $black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  width: 100%;
}