@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Manrope:wght@300;400;600;800&display=swap');

// Mixins
@mixin modalPosition {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: none;
}

@mixin login-register {
  padding: 10px;
  width: 75vw;
  height: 60vh;
  background-color: $yellow;
  color: $black;
}

@mixin ctaBtn {
  color: $brown;
  background-color: $white;
  border-radius: 10px;
}

@mixin buyBtn {
  color: $brown;
  background-color: $yellow;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
}

@mixin loginBtn {
  color: $white;
  background-color: none;
  border: none;
  font-size: 24px;
  font-weight: 600;
}

@mixin submitBtn {
  color: $brown;
  background-color: none;
  border: none;
  font-size: 24px;
  font-weight: 600;
}



// COLOURS
$black: #181817;
$white: #F3EED3;
$yellow: #DBC043;
$brown: #522100;

// HEADINGS STYLING
h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 96px;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Manrope', sans-serif;
  color: $black;
}

h2 {
  font-size: 40px;
  font-weight: 800;
}

h3 {
  font-size: 32px;
  font-weight: 800;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  font-weight: 300;
}

p {
  font-size: 12px;
  font-weight: 400;
  text-justify: left;
}

.dropdown {
  max-width: 200px;
}

// Tab Start
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  // padding: 70px;
  background: #F3EED3;
}

#result {
  overflow-y: scroll;
  height: 100vh;
}

.left-side {
  background-color: #181817;
  color: azure;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-side {
  background-color: #F3EED3;
}

.tabs {
  margin-bottom: 30px;
}

nav,
.content {
  min-width: 600px;
}

.content {
  display: block;
  margin-bottom: 1em;
  padding: 1em 1em;
  border-color: #181817;
  border-radius: .20em;
  color: #181817;
}

nav {
  position: relative;
  z-index: 1;

  & > a {
    position: relative;
    width: 10em;
    display: inline-block;
    padding: .9em 3em .7em;
    color: #F3EED3;
    text-decoration: none;
    margin: 0 -.3em;
  }

  & > a::before {
    border: .2em solid #F3EED3;
  }

  a::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: .7em .8em 0 0;
    background: #522100;
    transform: scale(1.2, 1.3) perspective(.4em) rotateX(3deg);
  }
}

nav a.active {
  z-index: 2;

  &::before {
    background-color: #F3EED3;
    margin-bottom: -.08em;
  }
}

.tab-right {
  nav { padding-left: 2.3em; }
  nav a::before { transform-origin: bottom right; }
}

.tab-left {
  nav { padding-left: 2em; }
  nav a::before { transform-origin: bottom left; }
}

.tab-left-right {
  nav { padding-left: 2em; }
  nav a::before { transform-origin: bottom; }
}

//logo

.logo-image {
  width: 450px;
  padding: 10px;
}

.personal-buttons {
  justify-content: space-between;
  padding: 2.5rem;

  & button {
    color: $white;

  }
}

// card adjustments
.listing, .card{
  height: 450px;
  background-color: transparent;
  border: none;
}

.card-body {
  padding: 5px;
  height: 100px;
  flex: none;
}

.btn {
  margin: 0;
}

// search / filter adjustments
.dropdown{
  width: 300px;
  margin-right: 20px;
  padding: 6px 12px;
  padding-top: 10px;
}

.form-select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $black;
}

#searchInput {
  background-color: transparent;
  border: none;
  width: 25rem;
  border-bottom: 1px solid $black;
}

.fa-magnifying-glass {
  font-size: 20px;
  padding: 10px
}

//single listing adjustments
.price-and-buy {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;

  & button {
    padding: .3rem 2rem;
    background-color: $yellow;
    border-radius: 5px;
    color: $brown;
  }
}

#details {
  text-align: left;
}

//clock styles

.clock-container {
  font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 25px;
}

.clock {
  width: 400px;
  height: 400px;

  /* neumorphic boxshadow */
  box-shadow: 5px 5px 20px #43497c,
              -5px -5px 20px #555c9c;

          /* make clock a circle */
  border-radius: 50%;
  border: 5px solid #333;

  /* position relative to allow us to position absolute the numbers and hands */
  position: relative;

}

.clock .number {
  /*  setting our rotation variable to 0 as initial default state*/
  --rotation: 0;
  /* postion absolute to allow us to place numbers in the correct position */
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;  /* will allow us to place all the numbers at the 12 o'clock spot */
  transform: rotate(var(--rotation));
}

/* positioning the numbers */
.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }


.clock .hand {
  /* set rotation to default/initial state  */
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  /* curve on the top of the hands */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* transforms the origin to state where to start the rotation from - default is center of div */
  transform-origin: bottom;
  /* z index on the hands to allow us to see the hands on top of other objects */
  z-index: 500;
  /* translate x moves the hand back to the left of half its width, thus centering it */
  /* rotate calc used to turn it into the correct degrees of rotation */
  transform: translateX(-50%)rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: '';
  position: absolute;
  background-color: $yellow;
  z-index: 511;
  height: 15px;
  width: 15px;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* second hand */
.clock .hand.seconds {
  width: 5px;
  height: 45%;
  background-color: red;
}

/* minute hand */
.clock .hand.minutes{
  width: 7px;
  height: 40%;
  background-color: blue;
}

/* hour hand */
.clock .hand.hours {
  width: 10px;
  height: 35%;
  background-color: $white;
}

#loginModal .modal-dialog {
  @include modalPosition;

  .modal-content {
    @include login-register;

    .modal-header {
      border-bottom: none;
    }

    .col-8 {
      border: solid 0.5px $black;
      border-radius: 5px;
      padding: 10px;

      form label {
        font-size: 20px;
        font-weight: 200;
      }
      form input {
        font-size: 16px;
        font-weight: 200;
        width: 80%;
      }

    }

    .col-4 {
      border: solid 0.5px $black;
      border-radius: 5px;
      padding: 10px;
    }

  }
}